/* Jumbotron */
.jumbotron {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  opacity: 1.0;
}
.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}
.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.bg-cover {
    background-image: url('/static/dead-sea1.jpg');
}
/* Fixed navbar */
body {
  min-height: 75rem;
  padding-top: 3rem;
}
.scrollable-menu {
  height: auto;
  max-height: 600px;
  overflow-x: hidden;
}
/* Word highlighting */
.word-highlighting a {
  color: black;
  font-size: 140%;
  text-decoration: none;
}
.word-highlighting a:hover {
  text-shadow: 2px 2px 10px #00FF00;
  /*background: #FFFF00;*/
}
.chapter-button {
  width: 60px;
}