/* Body */
body {
  font-family: 'Montserrat', sans-serif;
  min-height: 75rem;
  padding-top: 3rem;
}
/* Jumbotron */
.jumbotron {
  text-align: left;
  padding-top: 8rem;
  padding-bottom: 8rem;
  opacity: 1.0;
}
.bg-cover {
  background-image: linear-gradient(
    rgba(20,20,20, .5), rgba(20,20,20, .5)), url('/static/dead-sea1.jpg');
  background-position: center center;
  position: relative;
  background-size: cover;
  color: white;
}
/* Fixed navbar */
.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}
/* Hebrew highlighting */
.hebrew {
  font-family: 'David Libre', serif;
  font-size: 160%;
}
.hebrew a {
  /* See https://fonts.google.com/?subset=hebrew for other options */
  /*font-family: Arimo, sans-serif;*/
  /*font-family: 'Frank Ruhl Libre', serif;*/
  color: black;
  text-decoration: none;  /* Avoid underline on hover */
}
.hebrew a:hover {
  text-shadow: 2px 2px 10px #007BFF;
}
/* Transliteration */
.translit {
  font-size: 85%;
  font-style: italic;
}
.translit a {
  color: black;
  text-decoration: none;  /* Avoid underline on hover */
}
.translit a:hover {
  text-shadow: 2px 2px 10px #007BFF;
}
/* Search-result highlighting */
.highlight {
  color: red;
  font-weight: bold;
}
.chapter-button {
  width: 60px;
  border-color: #D3D3D3;
}