/* Jumbotron */
.jumbotron {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  opacity: 1.0;
}
.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}
.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.bg-cover {
    background-image: url('/static/dead-sea1.jpg');
}
/* Fixed navbar */
body {
  min-height: 75rem;
  padding-top: 3rem;
}
.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}
/* Word highlighting */
.hebrew {
  font-family: 'David Libre', serif;
  font-size: 180%;
}
.hebrew a {
  /* See https://fonts.google.com/?subset=hebrew for other options */
  /*font-family: Arimo, sans-serif;*/
  /*font-family: 'Frank Ruhl Libre', serif;*/
  color: black;
  text-decoration: none;  /* Avoid underline on hover */
}
.hebrew a:hover {
  text-shadow: 2px 2px 10px #00FF00;
  /*background: #FFFF00;*/
}
/* Transliteration */
.translit {
  font-size: 85%;
  font-style: italic;
}
.translit a {
  color: black;
  text-decoration: none;  /* Avoid underline on hover */
}
.translit a:hover {
  text-shadow: 2px 2px 10px #00FF00;
}
/* Chapter button */
.chapter-button {
  width: 60px;
}