<!DOCTYPE html>
<html>
<head>
  <title>Bare Bones Bible</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/bible-favicon1.png">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=David+Libre|Montserrat:400,700" rel="stylesheet">
  <style>
  </style>
</head>
<body>
  <!-- ** Navbar ** -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <!-- Brand -->
    <a class="navbar-brand mb-0 h1" href="/">Bare Bones Bible</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Home -->
        <li class="nav-item {% if page == 'home' %}active{% endif %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- Books -->
        <li class="nav-item dropdown {% if page in ['chapter', 'chapter-select'] %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="booksDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
            <ul class="dropdown-menu scrollable-menu" aria-labelledby="booksDropdown">
              <li><h5 class="dropdown-header">Torah</h5></li>
              <li><a class="dropdown-item" href=/book?name=Genesis>Genesis</a></li>
              <li><a class="dropdown-item" href=/book?name=Exodus>Exodus</a></li>
              <li><a class="dropdown-item" href=/book?name=Leviticus>Leviticus</a></li>
              <li><a class="dropdown-item" href=/book?name=Numbers>Numbers</a></li>
              <li><a class="dropdown-item" href=/book?name=Deuteronomy>Deuteronomy</a></li>
              <li><div class="dropdown-divider"></div></li>
              <li><h5 class="dropdown-header">Neviim</h5></li>
              <li><a class="dropdown-item" href=/book?name=Joshua>Joshua</a></li>
              <li><a class="dropdown-item" href=/book?name=Judges>Judges</a></li>
              <li><a class="dropdown-item" href=/book?name=1+Samuel>1 Samuel</a></li>
              <li><a class="dropdown-item" href=/book?name=2+Samuel>2 Samuel</a></li>
              <li><a class="dropdown-item" href=/book?name=1+Kings>1 Kings</a></li>
              <li><a class="dropdown-item" href=/book?name=2+Kings>2 Kings</a></li>
              <li><a class="dropdown-item" href=/book?name=Isaiah>Isaiah</a></li>
              <li><a class="dropdown-item" href=/book?name=Jeremiah>Jeremiah</a></li>
              <li><a class="dropdown-item" href=/book?name=Ezekiel>Ezekiel</a></li>
              <li><a class="dropdown-item" href=/book?name=Hosea>Hosea</a></li>
              <li><a class="dropdown-item" href=/book?name=Joel>Joel</a></li>
              <li><a class="dropdown-item" href=/book?name=Amos>Amos</a></li>
              <li><a class="dropdown-item" href=/book?name=Obadiah>Obadiah</a></li>
              <li><a class="dropdown-item" href=/book?name=Jonah>Jonah</a></li>
              <li><a class="dropdown-item" href=/book?name=Micah>Micah</a></li>
              <li><a class="dropdown-item" href=/book?name=Nahum>Nahum</a></li>
              <li><a class="dropdown-item" href=/book?name=Habakkuk>Habakkuk</a></li>
              <li><a class="dropdown-item" href=/book?name=Zephaniah>Zephaniah</a></li>
              <li><a class="dropdown-item" href=/book?name=Haggai>Haggai</a></li>
              <li><a class="dropdown-item" href=/book?name=Zechariah>Zechariah</a></li>
              <li><a class="dropdown-item" href=/book?name=Malachi>Malachi</a></li>
              <li><div class="dropdown-divider"></div></li>
              <li><h5 class="dropdown-header">Ketuvim</h5></li>
              <li><a class="dropdown-item" href=/book?name=Psalms>Psalms</a></li>
              <li><a class="dropdown-item" href=/book?name=Proverbs>Proverbs</a></li>
              <li><a class="dropdown-item" href=/book?name=Job>Job</a></li>
              <li><a class="dropdown-item" href=/book?name=Song+of+Songs>Song of Songs</a></li>
              <li><a class="dropdown-item" href=/book?name=Ruth>Ruth</a></li>
              <li><a class="dropdown-item" href=/book?name=Lamentations>Lamentations</a></li>
              <li><a class="dropdown-item" href=/book?name=Ecclesiastes>Ecclesiastes</a></li>
              <li><a class="dropdown-item" href=/book?name=Esther>Esther</a></li>
              <li><a class="dropdown-item" href=/book?name=Daniel>Daniel</a></li>
              <li><a class="dropdown-item" href=/book?name=Ezra>Ezra</a></li>
              <li><a class="dropdown-item" href=/book?name=Nehemiah>Nehemiah</a></li>
              <li><a class="dropdown-item" href=/book?name=1+Chronicles>1 Chronicles</a></li>
              <li><a class="dropdown-item" href=/book?name=2+Chronicles>2 Chronicles</a></li>
            </ul>
        </li>
      </ul>
      <!-- Searching -->
      <form class="form-inline my-2 my-lg-0" action="/search">
        <input class="form-control mr-sm-2" name="text" type="search" aria-label="Search" placeholder="Verse or Phrase" {% if search_value %}value="{{ search_value }}"{% endif %}>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- ** Home ** -->
  {% if page == 'home' %}
  <div class="jumbotron bg-cover">
    <div role="main" class="container">
      <h1 class="display-3">Hello!</h1>
      <p class="lead">The Bare Bones Bible (B<sup>3</sup>) is an awesome tool to help you engage with the Hebrew scriptures. Enjoy browsing by book or looking up words.</p>
      <p class="lead">
        <a href="book?name=Genesis&chapter=1" role="button" class="btn btn-primary btn-lg">Dive in!</a>
      </p>
    </div>
  </div>
  <main class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="mt-1">Why?</h2>
        <p><strong>Why use this?</strong> B<sup>3</sup> allows you to engage directly with the raw Hebrew (the bare bones) of the scriptures. But, for those of us who don't speak Hebrew, every word is clickable, allowing you to dive into its meaning and origin. You also get pronunciations of each verse so you can learn to sound out the words yourself.</p>
      </div>
      <div class="col-lg-4">
        <h2 class="mt-1">How?</h2>
        <p><strong>How do I use it?</strong> You can use the Books dropdown to go to a specific chapter or use the search bar to look up a specific passage. <a href="search?text=Jer+31:31-34">Try now!</a> 
        In addition, you can search directly for Hebrew or English words or phrases (optionally limiting your search to a single book, or range of books.) <a href="search?text=*nephesh+books:Gen-Deu,Psa">Try now!</a></p>
      </div>
      <div class="col-lg-4">
        <h2 class="mt-1">Who?</h2>
        <p><strong>Who is this for?</strong> This tool is for all budding Bible scholars who are tired of using ugly Bible search applications and want a fresh way to engage with the original language of the scriptures. My prayer is that, through these bare bones, the God who inspired them will come alive to you!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="mt-3">About</h2>
        <p><strong>My name is Joe.</strong> I like maths, being outside, programming and Jesus. I decided to build B<sup>3</sup> as a gift for my primary user and great encourager: my dad! However, once I finished I thought <em>"this is actually quite a neat tool, maybe I should share it more broadly."</em> So here you go, world &ndash; enjoy! </p>
        <p>I would love to hear feedback on your experience of using this site, what you like or what you feel is missing. Just drop me an email at <a href="mailto:joe@barebonesbible.com?Subject=B3%20Feedback" target="_top">joe@barebonesbible.com</a>.</p>
      </div>
    </div>
    <div class="row"><div class="col-lg-12 mt-1">&nbsp;</div></div>
  </main>

  <!-- ** Error ** -->
  {% elif page == 'error' %}
  <div class="jumbotron bg-cover">
    <div role="main" class="container">
      <h1 class="display-3 mb-1">Uh oh!</h1>
      <p class="lead">{{ msg | safe }}</p>
    </div>
  </div>

  <!-- ** Chapter select ** -->
  {% elif page == 'chapter-select' %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-12" align="center">
        <h1 class="mt-5">{{ book.name }}</h1>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-12" align="center">
      {% for c in range(1, book.num_chapters + 1) %}<a href="book?name={{ book.name }}&chapter={{ c }}" role="button" class="btn btn-outline-dark chapter-button">{{ c }}</a>{% endfor %}
      </div>
    </div>
  </main>

  <!-- ** Chapter or Search Result ** -->
  {% elif page in ['chapter', 'search-result'] %}
  <main role="main" class="container">
    <!-- Chapter Title -->
    {% if page == 'chapter' %}
    <div class="row">
      <div class="col-lg-12" align="center">
        <h1 class="mt-5">
          {% if chapter > 1 %}
          <a class="btn btn-outline-primary float-left" href="book?name={{ book.name }}&chapter={{ chapter - 1 }}" role="button">&laquo;</a>
          {% endif %}
          {{ book.name }} {{ chapter }}
          {% if chapter < book.num_chapters %}
          <a class="btn btn-outline-primary float-right {% if chapter == book.num_chapters %}disabled{% endif %}" href="book?name={{ book.name }}&chapter={{ chapter + 1 }}" role="button">&raquo;</a>
          {% endif %}
        </h1>
      </div>
    </div>
    <!-- Search Title -->
    {% else %}
    <div class="row">
      <div class="col-lg-12" align="center">
        <h1 class="mt-5">{{ title | safe }}</h1>
        {% if book_filter %}<h5>in {{ book_filter }}</h5>{% endif %}
      </div>
    </div>
    {% endif %}
    <!-- Pagination -->
    {% if pagination %}
    <div class="row">
      <div class="col-lg-12" align="center">
        <ul class="pagination justify-content-center mt-3">
          {% for pag in pagination %}
          <li class="page-item {{ pag['class'] }}"><a class="page-link" href="{{ pag['href'] }}">{{ pag['symbol'] | safe }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    <hr/>
    <!-- Chapter/Search Body -->
    {% for verse in verses %}
    <div class="row">
      <!-- Hebrew -->
      <div class="col-lg-6">
        <div class="text-right">
          <p>
            <bdo dir=rtl>
              <bdo dir=ltr>
                <a href="{{ verse.bible_hub_url }}" target="_blank">{{ verse.ref(page == 'chapter') | safe }}</a>
              </bdo>
              &nbsp;
              <span class="hebrew">{% for token in verse.he_tokens %}<a href="#" data-toggle="modal" data-target="#{{ token.label }}">{% if token.highlight %}<span style="color: red">{% endif %}{{ token.word }}{% if token.highlight %}</span>{% endif %}</a>{{ token.word_space }}{% endfor %}</span>
            </bdo>
          </p>
          <p>
            <span class="translit">{% for token in verse.he_tokens %}<a {% if token.highlight %}class="highlight"{% endif %}href="#" data-toggle="modal" data-target="#{{ token.label }}">{% if token.highlight %}<span class="highlight">{% endif %}{{ token.tlit }}{% if token.highlight %}</span>{% endif %}</a>{{ token.tlit_space }}{% endfor %}</span>
          </p>
        </div>
      </div>
      <!-- English -->
      <div class="col-lg-6">
        <p>{{ verse.english | safe }}</p>
      </div>
    </div>
    {% endfor %}
    <!-- Chapter nav-buttons -->
    {% if page == 'chapter' %}
    <div class="row">
      <div class="col-lg-12 mt-3">
        {% if chapter > 1 %}
        <a class="btn btn-outline-primary float-left" href="book?name={{ book.name }}&chapter={{ chapter - 1 }}" role="button">&laquo;</a>
        {% endif %}
        {% if chapter < book.num_chapters %}
        <a class="btn btn-outline-primary float-right {% if chapter == book.num_chapters %}disabled{% endif %}" href="book?name={{ book.name }}&chapter={{ chapter + 1 }}" role="button">&raquo;</a>
        {% endif %}
      </div>
    </div>
    <!-- Pagination -->
    {% elif pagination %}
    <div class="row">
      <div class="col-lg-12" align="center">
        <ul class="pagination justify-content-center mt-3">
          {% for pag in pagination %}
          <li class="page-item {{ pag['class'] }}"><a class="page-link" href="{{ pag['href'] }}">{{ pag['symbol'] | safe }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    <div class="row"><div class="col-lg-12 mt-1">&nbsp;</div></div>
    <!-- Modals -->
    {% for token, desc in modals %}
    <div class="modal fade" id="{{ token.label }}" tabindex="-1" role="dialog" aria-labelledby="{{ token.label }}-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{ token.label }}-label">
              <span class="hebrew">{{ token.word }}</span> &ndash; <a href="/search?text={{ token.tlit }}+lang%3Aheb">{{ token.tlit }}</a>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">{{ desc | safe }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </main>
  {% endif %}

  <!-- ** Scripts ** -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>