<!DOCTYPE html>
<html>
<head>
  <title>Tanakh Miner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=David+Libre" rel="stylesheet">
  <style>
    /* Word highlighting */
    .hebrew {
      font-family: 'David Libre', serif;
      font-size: 150%;
      color: black;
    }
    .hebrew a {
      /* See https://fonts.google.com/?subset=hebrew for other options */
      /*font-family: Arimo, sans-serif;*/
      /*font-family: 'Frank Ruhl Libre', serif;*/
      color: black;
      text-decoration: none;  /* Avoid underline on hover */
    }
    .hebrew a:hover {
      text-shadow: 2px 2px 10px #00FF00;
      /*background: #FFFF00;*/
    }
  </style>
</head>
<body>
  <!-- ** Navbar ** -->
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <!-- Brand -->
    <span class="navbar-brand mb-0 h1">Tanakh Miner</span>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Home -->
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- Books -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="booksDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
            <ul class="dropdown-menu scrollable-menu" aria-labelledby="booksDropdown">
              {% for tag, dtype, name, attrs in dropdown %}
              <li><{{tag}} class="dropdown-{{dtype}}" {{attrs}}>{{name}}</{{tag}}></li>
              {% endfor %}
            </ul>
        </li>
      </ul>
      <!-- Searching -->
      <form class="form-inline my-2 my-lg-0" action="/search">
        <input class="form-control mr-sm-2" name="passage" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- ** Home ** -->
  {% if page == 'home' %}
  <div class="jumbotron jumbotron bg-cover">
    <div class="overlay"></div>
      <div role="main" class="container">
        <h1 class="display-3 mb-1">Welcome!</h1>
        <p class="lead">This site is aimed to fulfill all your Tanakh-searching needs!<br>Enjoy browsing by book, or looking up words.</p>
      </div>
    </div>
  </div>

  <!-- ** Content ** -->
  {% elif page == 'book' %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mt-5">{{book.name}}</h1>
      </div>
    </div>

    <!-- Chapter Selection -->
    {% if not cv_start %}
    <div class="row">
      <div class="col-md-12">
      {% for chapter in range(1, book.num_chapters + 1) %}<a href="book?book={{book.name}}&chapter={{chapter}}" role="button" class="btn btn-outline-dark chapter-button">{{chapter}}</a>{% endfor %}
      </div>
    </div>

    <!-- Content Display -->
    {% else %}
    {% for chapter, verses in book.iter_verses_by_chapter(cv_start, cv_end) %}
    <div class="row">
      <div class="col-md-12">
        <h3 class="mx-auto">Chapter {{chapter}}</h3><hr/>
      </div>
    </div>
    {% for verse in verses %}
    <div class="row">
      <!-- English -->
      <div class="col-md-6">
        <p>
          <strong>{{verse.num}}</strong> {{ verse.english }}
        </p>
      </div>
      <!-- Hebrew -->
      <div class="col-md-6">
        <div class="text-right">
          <bdo dir=rtl>
            <p>
              <strong>{{verse.num}}</strong> 
              <span class="hebrew">{% for token in verse.he_tokens %}<a href="#" data-toggle="modal" data-target="#{{token.word}}">{{token.word}}</a>{{token.space}}{% endfor %}</span>
            </p>
            <p>
              <em>{{verse.transliteration}}</em>
            </p>
          </bdo>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
    {% for token in book.iter_unique_he_tokens(cv_start, cv_end) %}
    <div class="modal fade" id="{{token.word}}" tabindex="-1" role="dialog" aria-labelledby="{{token.word}}-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{token.id}}-label">
              <span class="hebrew">{{token.word}}</span> &ndash; {{token.transliteration}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{token.description|safe}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </main>
  {% endif %}

  <!-- ** Scripts ** -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>